h1{
    color:red;
}
.btn-primary{
    background-color: red;
}

/* container breakpoint */
.container-sm{
    border:2px solid blue
}

.container-md{
    border:2px solid crimson
}

.container-lg{
    border:2px solid chocolate
}

.row{
    border:5px solid purple;
    height: 100px;
    padding: 10px;
    margin: 0px;
}

.col,
.col-2,
.col-4,
.col-11,
.col-1,
.col-6{
    border: 2px dashed red;
    height:100%;
    margin: 0 ;
}

#largura-limitada{
    max-width: 500px;
}

/* alinhamento vertical */
.vertical{
    height:250px;
    border-color:coral
}
.vertical .row{
    height:100%
}

.col-6{
    height:50px;
}